*{
    font-family: Arial;
}

h1{
    font-size: 25px;
    color: crimson;

}
ol{
    list-style-type: lower-roman;
    list-style-type: upper-latin;

}
ul{
    width: 400px;

}
ul li{
    margin: 10px;
    list-style-position: inside;
    list-style-position: outside;
}
ol.singkat{
    list-style: lower-greek inside;
}
